<div class="container">
  <div class="equipment-Management">
    <div class="row d-flex align-content-center justify-content-between mt-2">
      <div class="col-md-3 d-flex align-items-center">
        <h1>Equipments</h1>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <div class="input-group">
          <input (keyup)="applyFilter($event)" class="form-control" placeholder="Ex. Zone 1" #input />
          <span class="input-group-text">
            <mat-icon>filter_list</mat-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="loading-overlay" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="mat-table-container mat-elevation-z3" tabindex="0">
      <mat-table [dataSource]="tableData" *ngIf="!isLoading">

        <ng-container matColumnDef="id" class="mat-column-id">
          <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
          <mat-cell *matCellDef="let equipment; let i = index">{{i + 1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name" class="mat-column-name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="alias" class="mat-column-alias">
          <mat-header-cell *matHeaderCellDef>Alias</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.alias}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ipAddress" class="mat-column-ipAddress">
          <mat-header-cell *matHeaderCellDef>Ip Add</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.ipAddress}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hostName" class="mat-column-hostName">
          <mat-header-cell *matHeaderCellDef>Host Name</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.hostName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="urlToken" class="mat-column-urlToken">
          <mat-header-cell *matHeaderCellDef>UrlToken</mat-header-cell>
          <mat-cell *matCellDef="let equipment">
            {{ equipment.urlToken ? equipment.urlToken : 'Add' }}
            <fa-icon [icon]="equipment.urlToken? faEdit : faPlus" (click)="updateUrlToken(equipment)" class="edit-button"></fa-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="vncUserName" class="mat-column-vncUserName">
          <mat-header-cell *matHeaderCellDef>VNC UserName</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.vncUserName ? equipment.vncUserName : ''}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="model" class="mat-column-model">
          <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.equipmentModel?.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="zone" class="mat-column-zone">
          <mat-header-cell *matHeaderCellDef>Zone</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.area?.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="userCreated" class="mat-column-user">
          <mat-header-cell *matHeaderCellDef>User Created</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.userCreated?.userName || ''}}</mat-cell>
        </ng-container>

        <!--<ng-container matColumnDef="dateCreated" class="mat-column-date">
        <mat-header-cell *matHeaderCellDef>Date Created</mat-header-cell>
        <mat-cell *matCellDef="let equipment">{{equipment.dateCreated ? (equipment.dateCreated | date:'MMM d, yyyy') : ''}}</mat-cell>
      </ng-container>-->

        <ng-container matColumnDef="userModified" class="mat-column-user">
          <mat-header-cell *matHeaderCellDef>User Modified</mat-header-cell>
          <mat-cell *matCellDef="let equipment">{{equipment.userModified?.userName || ''}}</mat-cell>
        </ng-container>

        <!--<ng-container matColumnDef="dateModified" class="mat-column-date">
        <mat-header-cell *matHeaderCellDef>Last Modified</mat-header-cell>
        <mat-cell *matCellDef="let equipment">{{equipment.dateModified ? (equipment.dateModified | date: 'MMM d, YYYY') : ''}}</mat-cell>
      </ng-container>-->

        <ng-container matColumnDef="actions" class="mat-column-action">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let equipment" class="action-button-container">
            <button class="edit-button action-button" (click)="editEquipment(equipment)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button class="delete-button action-button" (click)="deleteEquipment(equipment.id, equipment.hostName)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-row *matNoDataRow class="align-self-center">
          <mat-cell [attr.colspan]="displayedColumns.length">No Equipment Found "{{input.value}}"</mat-cell>
        </mat-row>

      </mat-table>
    </div>

    <mat-paginator class="mat-paginator" [pageSizeOptions]="[10, 15, 30]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>

    <button class="add-button" (click)="openAddEquipmentDialog()">
      <mat-icon class="mat-add-button-icon">add</mat-icon>
      <!--<fa-icon [icon]="faPlus" class="mat-add-button-icon"></fa-icon>-->
    </button>

  </div>
</div>
