<div class="container">
  <div class="equipment-management mt-3">
    <h1 mat-dialog-title>Manage Equipment Models</h1>

    <div class="loading-overlay" *ngIf="isLoading">
      <mat-spinner> </mat-spinner>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Zone5" #input>
    </mat-form-field>

    <!-- Equipment Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">

      <!-- Id Column -->
      <ng-container matColumnDef="id" class="mat-column-id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.name}} </td>
      </ng-container>

      <!-- Alias Column -->
      <ng-container matColumnDef="alias">
        <th mat-header-cell *matHeaderCellDef> Alias </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.alias}} </td>
      </ng-container>

      <!-- User Created Column -->
      <ng-container matColumnDef="userCreated">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.userCreated}} </td>
      </ng-container>

      <!-- Date Created Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef> Created On </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.dateCreated | date:'MMM d, yyyy'}} </td>
      </ng-container>

      <!-- User Modified Column -->
      <ng-container matColumnDef="userModified">
        <th mat-header-cell *matHeaderCellDef> Modified By </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.userModified ? (equipment.userModified) : 'NA'}} </td>
      </ng-container>

      <!-- Date Modified Column -->
      <ng-container matColumnDef="lastModified">
        <th mat-header-cell *matHeaderCellDef> Last Modified </th>
        <td mat-cell *matCellDef="let equipment"> {{equipment.dateModified ? (equipment.dateModified | date:'MMM d, yyyy') : 'NA'}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions" class="mat-column-action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let equipment">
          <button mat-icon-button (click)="editEquipment(equipment)" class="mat-action-button">
            <mat-icon class="mat-button-icon">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEquipment(equipment.id)" class="mat-action-button">
            <mat-icon class="mat-button-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Add New Equipment Button -->
    <button mat-icon-button class="add-button" (click)="openAddEquipmentDialog()">
      <mat-icon class="mat-add-button-icon">add</mat-icon>
    </button>
  </div>

</div>









<!--<div class="container">
  <div class="equipment-management mt-3">
    <h1 mat-dialog-title>Manage Equipment Models</h1>

    <div class="loading-overlay" *ngIf="isLoading">
      <mat-spinner> </mat-spinner>
    </div>-->
<!-- Equipment Table -->
<!--<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">-->
<!-- Id Column -->
<!--<ng-container matColumnDef="id" class="mat-column-id">
  <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.id}} </mat-cell>
</ng-container>-->
<!-- Name Column -->
<!--<ng-container matColumnDef="name">
  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.name}} </mat-cell>
</ng-container>-->
<!-- Alias Column -->
<!--<ng-container matColumnDef="alias">
  <mat-header-cell *matHeaderCellDef> Alias </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.alias}} </mat-cell>
</ng-container>-->
<!-- User Created Column -->
<!--<ng-container matColumnDef="userCreated">
  <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.userCreated}} </mat-cell>
</ng-container>-->
<!-- Date Created Column -->
<!--<ng-container matColumnDef="dateCreated">
  <mat-header-cell *matHeaderCellDef> Created On </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.dateCreated | date:'medium'}} </mat-cell>
</ng-container>-->
<!-- User Modified Column -->
<!--<ng-container matColumnDef="userModified">
  <mat-header-cell *matHeaderCellDef> Modified By </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.userModified ? (equipment.userModified) : 'NA'}} </mat-cell>
</ng-container>-->
<!-- Date Modified Column -->
<!--<ng-container matColumnDef="lastModified">
  <mat-header-cell *matHeaderCellDef> Last Modified </mat-header-cell>
  <mat-cell *matCellDef="let equipment"> {{equipment.dateModified ? (equipment.dateModified | date:'medium') : 'NA'}} </mat-cell>
</ng-container>-->
<!-- Actions Column -->
<!--<ng-container matColumnDef="actions" class="mat-column-action">
  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
  <mat-cell *matCellDef="let equipment">
    <button mat-icon-button (click)="editEquipment(equipment)" class="mat-action-button">
      <mat-icon class="mat-button-icon">edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteEquipment(equipment.id)" class="mat-action-button">
      <mat-icon class="mat-button-icon">delete</mat-icon>
    </button>
  </mat-cell>
</ng-container>-->
<!-- Header and Row Definitions -->
<!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>-->
<!-- Add New Equipment Button -->
<!--<button mat-icon-button class="add-button" (click)="openAddEquipmentDialog()">
      <mat-icon class="mat-add-button-icon">add</mat-icon>
    </button>
  </div>

</div>-->
