

/*.action-button {
  color: rgba(30, 48, 80);
  border-radius: 10px;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid rgba(30, 48, 80);
  background: none;
}

  .action-button:hover {
    background: #ddd;
  }*/

/*.mat-option.selected {
  background-color: #007bff !important;
  color: white;
}*/

/*mat-table {
  border: 1px solid #ddd;
}
*/
