/*@import "bootstrap/dist/css/bootstrap.min.css";*/
/*Global style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}


/*Navbar style*/
.navbar {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f6f8fa;
  border-bottom: 1px solid #ddd;
  background: linear-gradient(#aaa, #bbb, #ccc, #ddd, #eee)
}

  .navbar li:hover {
    text-decoration: underline;
  }

/*Dashboard*/

.dashboard-container{
    margin: 0 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/*Filter*/
.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.filter-item {
  padding: 2px 10px;
  border: 1px solid #aaa;
  border-radius: 50px;
  cursor: pointer;
}

  .filter-item.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  .filter-item:hover {
    background-color: #10a07fbe;
    color: white;
  }

@media (max-width: 768px) {
  .filter-container {
    gap: 10px;
    font-size: 12px;
  }

  .filter-item {
    padding: 2px 8px;
  }
}

.card-wrapper {
  flex: 0 0 calc(100% / 8);
  max-width: calc(100% / 8);
}

@media (max-width: 1080px) {
  .card-wrapper {
    flex: 0 0 calc(100% / 6);
    max-width: calc(100% / 6);
  }
}


@media (max-width: 992px) {
  .card-wrapper {
    flex: 0 0 calc(100% / 5);
    max-width: calc(100% / 5);
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
  }
}

@media (max-width: 576px) {
  .card-wrapper {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
  }
}



/*Equipment Card*/
.equipment-card {
  width: 120px;
  background-color: aliceblue;
}

  .equipment-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(3, 165, 252, 0.3);
  }

  .equipment-card img {
    height: 80px;
  }

  .equipment-card .font-weight-light {
    font-size: 11px;
  }


/*Registration component style*/

.register-area {
  height: auto;
  justify-content: center;
  display: flex;
}

.register-frame {
  display: flex;
  border-radius: 15px;
  align-items: center;
  background-color: #edf5ff;
  flex-direction: row;
}

  .register-frame .image-frame {
    border-right: 3px solid #ffffff;
  }

  .register-frame img {
    opacity: .8;
    height: auto;
    width: 100%;
    border-radius: 15px;
    transform: translateX(-10%);
  }



.register-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

  .register-box form {
    margin: auto;
    max-width: 100%;
    border-radius: 15px;
  }

.register-head {
  text-align: center;
  padding-top: 10px;
}

  .register-head h2 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 350;
    margin-bottom: 7px;
  }

.register-form-body {
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
  justify-content: left;
}

  .register-form-body .form-gp input {
    width: 100%;
    height: 32px;
    border: none;
    border: 1px solid #ddd;
  }

.text-danger {
  font-size: 10px;
}

.submit-btn-area {
  text-align: center;
  margin-bottom:20px;
}

    .submit-btn-area button {
    width: 100%;
    height: 40px;
    border: none;
    background: #fff;
    color: #585b5f;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .07);
    transition: all .3s ease 0s;
  }

    .submit-btn-area button:hover {
      background: #ffbf00;
      color: #fff;
      box-shadow: 0 6px 12px rgba(255, 0, 0, .2);
    }

    .submit-btn-area button i {
      margin-left: 15px;
      transition: margin-left .3s ease 0s;
    }

    .submit-btn-area button:hover i {
      margin-left: 20px;
    }

@media (max-width: 992px) {
    .register-frame {
      flex-direction: column;
    }

    .register-frame .image-frame {
      border: none;
      padding-left: 10px;
      padding-right: 10px;
    }

    .register-frame img {
      transform: none;
    }
}

/*Form*/
.form-gp {
  margin-bottom: 20px;
  position: relative;
}

  .form-gp input::-webkit-input-placeholder {
    color: #999999;
  }

  .form-gp input::-moz-placeholder {
    color: #999999;
  }

  .form-gp input:-ms-input-placeholder {
    color: #999999;
  }

  .form-gp input:-moz-placeholder {
    color: #999999;
  }

  .form-gp label {
    font-size: 16px;
  }

/*Login component style*/

.login-area {
  background: #f3f8fb;
}

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

  .login-box form {
    margin: auto;
    width: 520px;
    max-width: 100%;
    background: #fff;
    border-radius: 15px
  }

.login-head {
  text-align: center;
  padding: 10px;
}

  .login-head h2 {
    letter-spacing: 0;
    text-transform: uppercase;
  }

.login-form-body {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
  background: #f0f0f0;
}

  .login-form-body .form-gp input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ff0000;
  }


/*Profile Component*/
.profile-container {
  padding: 20px;
}

.profile-card {
  width: 80%;
  max-width: 100%;
  /*  background-color: #ebeced;*/
  /*  background: linear-gradient(135deg, #edf5ff, #ff9a9e, #fad0c4, #ebeced);*/
  background: linear-gradient(135deg, #edf5ff, #fad0c4, #ebeced);
  padding: 100px 50px;
}

  .profile-card .info-container {
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 15px;
  }

    .profile-card .info-container .user-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 0;
    }

  .profile-card .header {
    display: flex;
    justify-content: center;
    height: 50px;
  }

    .profile-card .header span {
      transform: translateY(-60px);
      font-size: 80px;
      font-weight: bold;
    }

  .profile-card form {
    width: 100%;
  }

  .profile-form-body span, .update-button {
    width: 100px;
    border: none;
    border: 1px solid #ddd;
  }

  .profile-form-body .input-group input::-webkit-input-placeholder {
    color: #999999;
  }

.profile-card .image-frame {
  width: 50%;
  padding: 0;
  margin-bottom: 10px;
}

.profile-card .user-photo {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: 1px solid orangered;
}

.image-change-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: white;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  display: flex;
  border: 1px solid orangered;
  justify-content: center;
  align-items: center;
}

.image-change-button:hover{
    background: #ddd;
}

  .image-change-button .camera-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    height: 70%;
    width: 70%;
    color: #333;
  }

  .image-change-button mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    height: 70%;
    width: 70%;
    color: #333;
  }

.footer {
  margin-top: 20px;
}


@media (max-width: 768px) {
  .profile-card {
    padding: 30px 0;
  }

    .profile-card .info-container {
      padding: 10px;
      width: 95%;
    }

      .profile-card .info-container .user-info {
        flex-direction: column;
      }

    .profile-card .header {
      height: 50px;
    }

      .profile-card .header span {
        transform: translateY(-30px);
        font-size: 40px;
        font-weight: bold;
      }

      .profile-form-body .input-group input::-webkit-input-placeholder {
        font-size: 12px;
      }

    .profile-card .info-container form {
      width: 100%;
    }

  .profile-form-body .input-group span {
    width: 75px;
    font-size: 12px;
  }

  .profile-form-body .input-group input {
    font-size: 12px ;
  }

  .update-button{
      width: 100%;
  }

  .sign-out-button {
    font-size: 12px;
  }

  .reset-password-button {
    font-size: 12px;
  }
}

/*Equipment*/
.equipment-management {
  position: relative;
}

/*Equipment Model*/
.equipment-model-management {
  position: relative;
}

/*Area*/
.area-management {
  position: relative;
}

/*User*/
.user-management {
  position: relative;
}


/*Table style*/

.mat-table-container {
  width: 100%;
  overflow: auto;
}

mat-table{
  width: 100% !important;
}

mat-header-row, mat-row {
  display: flex;
  font-size: 12px !important;
}

mat-header-row {
  background-color: #f6f8fa !important;
  font-weight: bold !important;
}

mat-cell, mat-header-cell {
  flex: 1;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-id {
  flex: 0 0 50px;
}

/*.mat-column-name {
  min-width: 80px;
}*/

.mat-column-urlToken {
/*  flex: 0 0 150px;*/
  gap: 5px;
}

/*.mat-column-email{
    flex: 0 0 220px;
}
*/
/*.mat-column-model {
  flex: 0 0 70px;
}

.mat-column-zone {
  flex: 0 0 70px;
}

.mat-column-status {
  flex: 0 0 80px;
}*/

.mat-column-status {
  flex: 0 0 70px;
}

.mat-column-actions {
  flex: 0 0 120px;
  justify-content: center;
/*  background: red !important;*/
}

/*  .mat-column-action mat-cell,
  .mat-column-action mat-header-cell {
    text-align: center;
  }

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}*/

.mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
}


.loading-overlay {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


/*User Area*/
.area-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.area-item {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
}

  .area-item.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

  .area-item:hover {
    background-color: #007bff;
    color: white;
  }

/*Button styling*/
.action-button-container {
  display: flex;
  align-content: center;
  gap: 10px;
}

.action-button {
  color: rgba(30, 48, 80);
  border-radius: 10px;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 1px solid rgba(30, 48, 80);
  background: none;
}

  .action-button:hover {
    background: #ddd;
  }

.edit-button:hover {
  color: orange;
}

.delete-button:hover {
  color: red;
}

.add-button {
  position: fixed;
  height: 60px;
  width: 60px;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
  border-radius: 15%;
  border: none;
  background-color: rgba(255, 191, 0, .8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

  .add-button:hover {
    transform: scale(1.1);
    background-color: #f5b800;
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.4);
    color: white;
  }

.mat-add-button-icon {
  font-size: 24px;
}

.text-button{
    border: none;
    background: #fff;
}

  .reset-password-button:hover {
    color: limegreen;
  }

.sign-out-button {
  border: 1px solid rgba(30, 48, 80);
  border-radius: 5px;
  padding: 5px 10px;
  background: #fff;
}

.sign-out-button:hover {
  color: red;
  background: #ddd;
}


/*Snackbar style*/
:root {
  --mdc-snackbar-container-color: #2196F3;
  --mat-mdc-snack-bar-button-color: #fff;

}

.error-snackbar {
  background-color: red !important;
  background: red !important;
}

.success-snackbar {
  background-color: green !important;
  background: green !important;
}


/*Form*/

.input-group {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-bottom: 12px;
}


/*Dialog Box*/

.dialog-content {
  min-height: 150px;
}

.dialog-header{
    display: flex;
    justify-content: center;
}

.dialog-actions {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e0e0e0;
}

/*Mouse Trail*/
#mouse-trail {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.trail-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(45deg, #00f, #0ff, #f0f, #ff0);
  opacity: 0.8;
  animation: fade 0.8s forwards;
}

@keyframes fade {
  to {
    transform: scale(0);
    opacity: 0;
  }
}


/*@media(max-width: 992px){
    .input-group{
        width: 100%;
    }
}*/



  /*.form-gp i {
    position: absolute;
    right: 5px;
    bottom: 15px;
    color: #7e74ff;
    font-size: 16px;
  }

.card {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }

  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }

    .card > .list-group:first-child {
      border-top-width: 0;
      border-top-left-radius: calc(0.25rem - 0);
      border-top-right-radius: calc(0.25rem - 0);
    }

    .card > .list-group:last-child {
      border-bottom-width: 0;
      border-bottom-right-radius: calc(0.25rem - 0);
      border-bottom-left-radius: calc(0.25rem - 0);
    }

    .card > .card-header + .list-group,
    .card > .list-group + .card-footer {
      border-top: 0;
    }

.card-body {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  color: #fff;
  margin-bottom: 1.125rem;
  text-transform: capitalize;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}

  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 0) calc(0.25rem - 0);
  }

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 0);
}

.card-img,
.card-img-top,
.card-img-bottom {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 0);
  border-top-right-radius: calc(0.25rem - 0);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 0);
  border-bottom-left-radius: calc(0.25rem - 0);
}

.card-deck .card {
  margin-bottom: 7.5px;
}

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

    .card-deck .card {
      -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-right: 7.5px;
      margin-bottom: 0;
      margin-left: 7.5px;
    }
}

.card-group > .card {
  margin-bottom: 7.5px;
}

@media (min-width: 576px) {
  .card-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

    .card-group > .card {
      -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-bottom: 0;
    }

      .card-group > .card + .card {
        margin-left: 0;
        border-left: 0;
      }

      .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

        .card-group > .card:not(:last-child) .card-img-top,
        .card-group > .card:not(:last-child) .card-header {
          border-top-right-radius: 0;
        }

        .card-group > .card:not(:last-child) .card-img-bottom,
        .card-group > .card:not(:last-child) .card-footer {
          border-bottom-right-radius: 0;
        }

      .card-group > .card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

        .card-group > .card:not(:first-child) .card-img-top,
        .card-group > .card:not(:first-child) .card-header {
          border-top-left-radius: 0;
        }

        .card-group > .card:not(:first-child) .card-img-bottom,
        .card-group > .card:not(:first-child) .card-footer {
          border-bottom-left-radius: 0;
        }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
}




@media (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }

  .float-sm-right {
    float: right !important;
  }

  .float-sm-none {
    float: none !important;
  }
}

.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 20px;
  position: relative;
}

  .small-box > .inner {
    padding: 10px;
  }

  .small-box > .small-box-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
  }

    .small-box > .small-box-footer:hover {
      background-color: rgba(0, 0, 0, 0.15);
      color: #fff;
    }

  .small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
  }

@media (min-width: 992px) {
  .col-xl-2 .small-box h3,
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3 {
    font-size: 1.6rem;
  }

  .col-xl-3 .small-box h3,
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 .small-box h3,
  .col-lg-2 .small-box h3,
  .col-md-2 .small-box h3 {
    font-size: 2.2rem;
  }

  .col-xl-3 .small-box h3,
  .col-lg-3 .small-box h3,
  .col-md-3 .small-box h3 {
    font-size: 2.2rem;
  }
}

.small-box p {
  font-size: 1rem;
}

  .small-box p > small {
    color: #f6f6fb;
    display: block;
    font-size: .9rem;
    margin-top: 5px;
  }

.small-box h3,
.small-box p {
  z-index: 5;
}

.small-box .icon {
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
}

  .small-box .icon > i {
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }

    .small-box .icon > i.fa, .small-box .icon > i.fas, .small-box .icon > i.far, .small-box .icon > i.fab, .small-box .icon > i.fal, .small-box .icon > i.fad, .small-box .icon > i.ion {
      font-size: 70px;
      top: 20px;
    }

  .small-box .icon svg {
    font-size: 70px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  }

.small-box:hover {
  text-decoration: none;
}

  .small-box:hover .icon > i, .small-box:hover .icon > i.fa, .small-box:hover .icon > i.fas, .small-box:hover .icon > i.far, .small-box:hover .icon > i.fab, .small-box:hover .icon > i.fal, .small-box:hover .icon > i.fad, .small-box:hover .icon > i.ion {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .small-box:hover .icon > svg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

@media (max-width: 767.98px) {
  .small-box {
    text-align: center;
  }

    .small-box .icon {
      display: none;
    }

    .small-box p {
      font-size: 12px;
    }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

  .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    box-shadow: none;
  }

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-default {
  background-color: #f6f6fb;
  border-color: #ddd;
  color: #444;
}

  .btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: #e9ecef;
    color: #2b2b2b;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
