<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand"  routerLink="/dashboard"><img src="assets/images/logo_unisem.png" alt="Unisem Logo" style="height: 50px; width: auto;" /></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">DashBoard</a>
      </li>
      <li class="nav-item" *ngIf="userRole === 'Admin'">
        <a class="nav-link" routerLink="/registration">Register New User</a>
      </li>
      <li class="nav-item" *ngIf="userRole === 'Admin'">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="userRole === 'Admin' || userRole === 'Engineer'" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Setup
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item"><a class="dropdown-item" *ngIf="userRole === 'Admin' || userRole === 'Engineer'" routerLink="/equipment">Equipments</a></li>
          <li class="nav-item"><a class="dropdown-item" *ngIf="userRole === 'Admin'" routerLink="/equipment-model">Equipment Models</a></li>
          <li class="nav-item"><a class="dropdown-item" *ngIf="userRole === 'Admin'" routerLink="/area">Areas</a></li>
          <li class="nav-item"><a class="dropdown-item" *ngIf="userRole === 'Admin'" routerLink="/area-asign">Asign Area</a></li>
        </ul>
      </li>
    </ul>
    <!--<form class="d-flex my-2 my-lg-0 me-auto" *ngIf="isDashboardRoute">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success me-2" type="submit">Search</button>
    </form>-->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">
          <img class="profile-icon rounded-circle" [src]="imageUrl" alt="Profile" style="width: 40px; height: 40px;" />
        </a>
      </li>
    </ul>
  </div>
</nav>
