/*@import "bootstrap/dist/css/bootstrap.min.css";*/
.navbar{
    padding-left: 20px;
    padding-right: 20px;
}
/*.navbar .profile-icon{
    height: 50px;
    width:auto;
    border-radius: 50%;
    padding: 5px 0px;

    
}
*/
