
<div class="profile-container d-flex justify-content-center align-items-center">
  <mat-card class="profile-card d-flex justify-content-center align-items-center">
    <div class="info-container col-lg-8 col-md-10 col-sm-12">
      <div class="header">
        <span>Profile</span>
      </div>
      <mat-card-content class="user-info">

        <!--Left-->
        <div class="col-lg-5 col-md-4 col-sm-12 d-flex justify-content-center x">
          <div class="image-frame">
            <div class="position-relative">
              <img [src]="imageUrl" alt="User Photo" class="user-photo">
              <div class="image-change-button" (click)="imageInput.click()">
                <mat-icon>photo_camera</mat-icon>
              </div>
              <input type="file" #imageInput accept="image/*" (change)="onImageSelected($event)" hidden />
            </div>
          </div>
        </div>

        <!--Right-->
        <div class="col-lg-7 col-md-8 col-sm-12 d-flex justify-content-center x">
          <form [formGroup]="profileForm" #profileFormDirective="ngForm">
            <div class="profile-form-body">
              <div class="col-12 input-group">
                <span class="input-group-text">Alias</span>
                <input type="text" id="Alias" class="form-control" formControlName="alias">
              </div>
              <div class="col-12 input-group">
                <span class="input-group-text">Name</span>
                <input type="text" id="Name" class="form-control" formControlName="name">
              </div>
              <div class="col-12 input-group">
                <span class="input-group-text">Username</span>
                <input type="text" id="Username" class="form-control" formControlName="userName">
              </div>
              <div class="col-12 input-group">
                <span class="input-group-text">Email</span>
                <input type="text" id="Email" class="form-control" formControlName="email">
              </div>
              <div class="col-12 input-group">
                <span class="input-group-text">Role</span>
                <input type="text" id="Role" class="form-control" [placeholder]="userRole" readonly>
              </div>
            </div>
            <button mat-flat-button color="primary" class="update-button" (click)="updateProfile()" [disabled]="profileForm.pristine && !isImageSelected">
              <span *ngIf="!isLoading">Update</span>
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </form>
        </div>
      </mat-card-content>
      <div class="footer d-flex justify-content-between">
        <button (click)="resetPassword()" class="text-button reset-password-button">Reset Password</button>
        <button (click)="logout()" class="sign-out-button">
          Logout <fa-icon [icon]="faSignOut" class="ms-2"></fa-icon>
        </button>
      </div>
    </div>
  </mat-card>
</div>
