

/*@media (max-width: 992px) {
  .profile-card{
    padding: 50px;
  }*/

/*  .profile-card .info-container{
      width: 95%;
  }*/
  
  /*.profile-card .info-container .user-info {
    flex-direction: column;
    padding: 0 20px;
    gap: 0;
  }

  .profile-card .header {
    height: 50px;
  }

  .profile-card .header span {
    transform: translateY(-30px);
    font-size: 40px;
    font-weight: bold;
  }

    .profile-card .info-container form {
      width: 90%;
    }

  .profile-form-body .input-group span {
    width: 70px;
  }

  .profile-card .input-group span, input{
      font-size: 14px;
  }

  .profile-card .image-frame {
    display: flex;
    justify-content: center;
  }

  .profile-card .image-frame img {
    width: 100px;
  }

  .profile-card .buttons .sign-out-button {
    font-size: 12px;
    width: 30%;
  }

  .profile-card .buttons .reset-password-button {
    width: 40%;
    font-size: 12px;
  }
}*/
