.profile-container {
  margin-top: 40px;
  min-height: 100%;

}

.profile-card {
  height: 400px;
  width: 500px;
  background-color: aliceblue;

}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

