.profile-card {
  height: 500px;
  width: 550px;
  background-color: aliceblue;
}

.user-info {
  text-align: center;
}

.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid orangered;
}

.user-info h3{
    font-size: 1.5rem;
    font-weight: 500;
}

.user-info .row {
  border: 1px solid orangered;
  border-radius: 5px;
}

.user-info .row:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
  background: #ffbf00;
  color: #fff;
  transform: scale(1.1);
}

.buttons .reset-password-button{
    border: 1px solid #ffbf00;
}

.buttons .sign-out-button {
  border: 1px solid #008bff;
}

.success-snackbar {
  background-color: green !important;
  color: white;
}

