<div class="container">
  <div class="user-management-container mt-3">
    <h1 mat-dialog-title>Manage System Users</h1>
    
    <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner> </mat-spinner>
    </div>
    <table mat-table [dataSource]="users" class="mat-elevation-z8" *ngIf="!isLoading">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="mat-column-id"> Id </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{user.role}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let user">
          <mat-slide-toggle [checked]="user.isActive"
                            (change)="toggleUserStatus(user)">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="resetPassword(user)">
            <mat-icon>lock_reset</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
